<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="StringDeConexao"
      connectionString="Data Source=10.103.10.10;User Id=sa;Password=sis@123;Initial Catalog=Catodica;"/>   

    <add name="StringDeConexaoSABESP"
      connectionString="Data Source=10.21.201.11\SQLEXPRESS;User Id=sisteste;Password=sis@12345;Initial Catalog=catodica;Integrated Security=True;"/>

    <add name="StringDeConexaoLocal"
      connectionString="Data Source=DESKTOP-E8Q00J5\SQLEXPRESS;Initial Catalog=catodica;Integrated Security=True;"/>
  
    <add name="StringDeConexaoSISNovoServidor"
      connectionString="Data Source=SRVALPHAOUT;User Id=sa;Password=sis@123;Initial Catalog=Catodica;"/>   

      <add name="StringDeConexaoSIS"
      connectionString="Data Source=10.103.10.10;User Id=sa;Password=sis@123;Initial Catalog=Catodica;"/>   
  
  
  </connectionStrings>
  

  <appSettings>
    <add key="ServidorSMS" value="www.vivo.com.br/ssms"/>  
    <add key="PortaTCP" value="52048"/>

    <add key="RetransmitePorUDP" value="sim"/>
    <add key="LigaServidorUDP" value="sim"/>
    <add key="serverUDP" value="201.85.146.227"/>
    <add key="portaUDP" value="80"/>


  </appSettings>


</configuration>